<h1>Lista de autores</h1>
{{log model}}
<ul>
{{#each model as |autor|}}
	<li>{{autor.first_name}}</li>
{{else}}
	<h3>NO HAY AUTORES</h3>
{{/each}}
</ul>
<h1>Agregar un autor</h1>
<form {{action 'createAuthor' on='submit'}}>
	<p>Nombre: {{input type="text" value=first_name}}</p>
	<p>Apellidos: {{input type="text" value=last_name}}</p>
	<p>Apodo: {{input type="text" value=nickname}}</p>
	<p>Edad: {{input type="number" value=age}}</p>
	<button>Agregar</button>
</form>